/******************************************/
        /***Variables globales***/
/******************************************/
:root {
  --fondo-principal: rgb(37, 36,39);
  --fondo-principal-opacidad:  rgba(37, 36,39, 0.5);
  --fondo-secundario: rgb(247, 12, 91);
  --color-text-rojo: rgb(255, 2, 2);
  --color-text-blanco: rgb(255,255,255);
  --color-hover: aliceblue;
  --color-sombra-hover: 2px 4px 20px var(--color-text-blanco);
  --fuente-grande: 2rem;
  --fuente-mediana: 1.9rem;
  --fuente-chica: 1.2rem;
  --fuente:"Roboto Condensed", sans-serif;
  --ancho-maximo: 1200px;
}

/******************************************/
/***reseteador***/
/******************************************/
html{
  box-sizing: border-box;
  font-family: var(--fuente);
  scroll-behavior: smooth;/*Desplazamiento lento de los enlaces*/
  overflow-x: hidden; /*oculta barra de desplazamiento horizontal*/
  
}
*, *::after, *::before{
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  color: var(--fondo-secundario);
}

a{
  text-decoration: none;
  color: var(--color-hover);


}

a:hover{
  opacity: 0.5;
  text-shadow: var(--color-sombra-hover);
  transition: text-shadow 0.5s ease-in-out;

}
img{
  max-width: 100%;
  height: auto;
}
p{
    line-height: 1.5rem;
}
/******************************************/
/***componentes***/
/******************************************/

/******************************************/
/***Utilidad***/
/******************************************/
.oculto{
  display: none;
}
.flexible{
  display: flex;
}

/******************************************/
/***Estilos***/
/******************************************/
html {
   background-color: var(--fondo-principal);
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }


h2{
  font-size: var(--fuente-grande);
  color: var(--color-text-rojo);
  
}

#text_work{
  color: var(--color-text-rojo);
}
p{
  font-size: var(--fuente-chica);
  color: var(--color-text-blanco);
  
}
.container{
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  }
ul{
  list-style-type: none;

}
/*HEADER*/
header{
 width: 100%;
 height: 15vh;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
 display: flex;
 justify-content: space-between;
 margin-left: auto;
 margin-right: auto;
 background-color: rgba(0,0,0,1);
 }
/*HEADER-LOGO*/
.logo{
  width: 80%;
  display: flex;
  align-items: center;

  
}
.logo>img{
    width: 4rem;
    height: auto;
    border-radius: 50%;
    filter: brightness(1.5);
    
}
.logo h1{
  font-size: 1.5rem;
  color: aliceblue;

  text-shadow: 1px 1px 10px black;
}
/*HEADER - NAV*/
nav{
  display: none;

}

nav ul{
  height: 60%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  font-size: var(--fuente-mediana);

}
/*HEADER - BTN_INFO*/
.btn_info{
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: var(--fuente-mediana);
  text-align: center;
}

/*HEADER-GRUPO -BOTONES*/
  .grupo-botones{
    width: 80%;
    height: auto;
    position: absolute;
    top: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
   }
  .grupo-botones ul li{
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 2px 2px 6px white;
    width: 80%;
    padding:1rem;
    background-color: brown;
    
  }
/*SECTION - BANER - TEXTO*/
#baner{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../img/just_word_02.jpg);
  background-repeat: no-repeat;
  background-position: 15% center;
  background-attachment: fixed;
  background-size: cover;
}
.baner-texto{
width: 100%;
height: 30%;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.baner-texto h2{
  color: var(--color-text-rojo);
  text-shadow: 3px 3px 4px rgba(13, 13, 14, 0.75);
  
  }

.baner-texto h3{
  width: 80%;
  position: absolute;
  top: 50%;
  text-align: right;
  text-shadow: 2px 2px 8px black;
  }

.baner-texto p{
  position: absolute;
  top: 70%;
  text-align: center;
  text-shadow: 2px 2px 8px black;
  }  

  /*MAIN -SECTION - NOSOTROS*/
  main{
    width: 100%;
    height: auto;
    position: relative;
        
  }
  #nosotros{
    width: 95%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  .imagen-nosotros{
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px rgb(180, 168, 158);
  }

  .textos-nosotros{
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    
  }
  #mision{
    width: 100%;
    height: 100%;
  }
  #mision .imagen-nosotros{
    width: 100%;
    height: 50%;
    background-image: url(../img/lautaro_03.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -150px;
  }
  #mision h3, p{
    padding-left: 1rem;
    padding-right: 1rem;
    
  }

  #vision{
    width: 100%;
    height: 80%;
    position: relative;
    top: 3rem;
  }
  #vision .imagen-nosotros{
    width: 100%;
    height: 50%;
    background-image: url(../img/jonathan_just_work_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #vision p{
     padding-bottom: 1.6rem;
  }
  /*MAIN - SECTION - TIENDA ONLINE*/
  #tienda-online{
    width: 100%;
    height: 100%;
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .cards{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1.2rem;
    margin-bottom: 0.85rem;
    
  }
  
  .card img {
    width: 100%;
    min-height: 350px;
    object-fit: cover;
    
  }
  
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
    
  }
  .card button, input[type="submit"]{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6rem;
    background-color: chartreuse;
    color: orangered;
    font-weight: 700;
    border-radius: 1.5rem;
    
  }
  /*MAIN - SECTION - INFORMACION*/
  #informacion{
    width: 100%;
    height: 100%;
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
  }
   form{
    
   }

   /*FOOTER*/
   footer{
    width: 100%;
    height: 30vh;
    position: relative;
    left: 0.8rem;
    top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    
   }
   footer h2{
    width: 90%;
    font-size: 1.2rem;
    justify-content: center;

    
   }
   footer p, ul li{
    width: 90%;
    font-size: 0.7rem;
    justify-content: center;
    
    
   }
   #pie{
    width: 30%;
    
   }
   
      .horario_footer{
       width: 40%;
    
      }

   .redes_sociales{
    width: 30%;
    
    
   }
